.bannerContainer {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  padding: 2rem 2.5rem;
  box-shadow: var(--shadow);
  background-color: #fff;
}

@media (min-width: 768px) {
  .bannerContainer {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 3.9rem 4rem;
  }
}
