.container {
  width: 100%;
  max-width: 90rem;
  position: relative;
  padding: 4.6rem 2.5rem;
}

.filterButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--tertiary);
  border-radius: 3rem;
  padding: 0.8rem 2rem;
  transition: all 0.3s;
}

.filterButtonDefault {
  background-color: #fff;
}

.filterButtonActive {
  color: #fff;
  background-color: var(--secondary);
}

.filterButton:hover {
  color: #fff;
  cursor: pointer;
  background-color: var(--secondary);
}

.filterButton:hover > img {
  filter: invert(1) brightness(100);
}

.filterButtonActive > img {
  filter: invert(1) brightness(100);
}

.filterCount {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.filterButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.divider {
  width: 0.1rem;
  height: 2.8rem;
  background-color: var(--border);
}

@media (min-width: 768px) {
  .container {
    padding: 12rem 2.5rem;
  }

  .friendsListContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
