.clearAllButton {
  border: none;
  font-weight: 600;
  line-height: 1.7rem;
  background: none;
  transition: color 0.3s;
}

.clearAllButtonInactive {
  color: var(--border);
}

.clearAllButtonActive {
  color: var(--dark-blue);
}

.clearAllButton:hover {
  cursor: pointer;
  color: var(--secondary);
}

.clearAllButton:disabled {
  cursor: not-allowed;
  color: var(--border);
}
