.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.heading {
  font-weight: 600;
  font-size: 2.6rem;
  text-align: center;
  line-height: 3.1rem;
}

/* Tablet */
@media (min-width: 768px) {
  .main {
    /* background-color: var(--primary); */
  }
}

@media (min-width: 1024px) {
  .heading {
    overflow: hidden;
    border-right: 0.15em solid var(--dark-blue);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1rem;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 42%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--dark-blue);
  }
}
