.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
  background-color: var(--primary);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoSpan {
  display: none;
}

.navList {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.navListItem {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.activeLink {
  padding: 1rem 1.6rem;
  border-radius: 0.6rem;
  background-color: var(--secondary);
}
